@font-face {
	font-family: arsenal_f;
	src: url(../fonts/Arsenal-Regular.woff2);
}
@font-face {
	font-family: arsenal_f;
	src: url(../fonts/Arsenal-Italic.woff2);
	font-style: italic;
}
@font-face {
	font-family: arsenal_f;
	src: url(../fonts/Arsenal-Bold.woff2);
	font-weight: bold;
}
@font-face {
	font-family: arsenal_f;
	src: url(../fonts/Arsenal-BoldItalic.woff2);
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: ptserif_f;
	src: url(../fonts/PTSerif-Regular.woff2);
}
@font-face {
	font-family: ptserif_f;
	src: url(../fonts/PTSerif-Italic.woff2);
	font-style: italic;
}
@font-face {
	font-family: ptserif_f;
	src: url(../fonts/PTSerif-Bold.woff2);
	font-weight: bold;
}
@font-face {
	font-family: ptserif_f;
	src: url(../fonts/PTSerif-BoldItalic.woff2);
	font-weight: bold;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--black: #141414;
	--light: #f0f0f0;
	--light-rgb: 240, 240, 240;
	--accent: #CC9966;
	--index: calc(1vw + 1vh);
	--transition: 1.25s cubic-bezier(.2, .5, 0, 1);
	--transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
}

*::selection {
  background: var(--accent);
  color: #fff;
}

body {
	background-color: var(--light);
	font-family: ptserif_f, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	height: 100%;
	/* background-image: url(../img/bg.png); */
}
.magic-list {
	font-family: arsenal_f, sans-serif;
	font-size: calc(var(--index) * 2.75);
	padding: calc(var(--index) * 2.75);
}
.magic-list__item {
	cursor: none;
	color: var(--black);
	text-decoration: none;
	display: block;
	line-height: .9;
	padding: calc(var(--index) * 3) calc(var(--index) * 7.5);
	border-bottom: 1px solid rgb(0 0 0 / .09);
	counter-increment: my-counter;
}
.magic-list__item:first-child {
	border-top: 1.5px solid var(--black);
}
.magic-list__header {
	width: min-content;
	width: calc(100% - var(--index) * 10);
	transition: transform var(--transition);
	will-change: transform;
}
.magic-list__item::before {
	content: '(0' counter(my-counter) ')';
	position: absolute;
	font-size: calc(var(--index) * .95);
	margin-left: calc(var(--index) * -2.25);
	margin-top: calc(var(--index) / 2);
	letter-spacing: .5px;
	transition: transform var(--transition);
	transition-delay: .025s;
	will-change: transform;
}
.magic-list__item:hover .magic-list__header,
.magic-list__item:hover::before {
	transform: translate3d(calc(var(--index) * -5), 0, 0);
}
.cursor {
	--width: calc(var(--index) * 22);
	--height: calc(var(--index) * 14);
	position: fixed;
	width: var(--width);
	height: 0;
	top: calc(var(--height) * -.5);
	left: calc(var(--width) * -.5);
	overflow: hidden;
	transform: translate3d(var(--move-x), var(--move-y), 0);
	transition: transform var(--transition-cursor), height 1s ease;
	z-index: -1;
	will-change: transform;
}
.magic-list__item:hover .cursor {
	height: var(--height);
}
.cursor__image {
	--cursor-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
	position: relative;
	width: calc(var(--width) * 2);
	height: calc(var(--height) * 2);
	top: calc(var(--height) * -.4);
	left: calc(var(--width) * -.25);
	background-size: cover;
	background-position: center;
	transform: var(--cursor-transform) scale(1.5);
	transition: transform var(--transition-cursor);
}
.magic-list__item:hover .cursor__image {
	transform: var(--cursor-transform) scale(1);
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
	margin-top: 2rem;
}
ul, ol {
	padding-left: 2rem;
	margin-bottom: 1.2rem;
}
p{
	margin-bottom: 1rem;
}
img {
	max-width: 100%;
	object-fit: cover;
}
a, a:hover {
	color: var(--accent);
	transition: var(--transition);
}

.fixpanel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin: 0 var(--index);
	padding: 15px 30px;
	width: calc(100% - var(--index) * 2);
	background-color: rgba(var(--light-rgb), 0.95);
	z-index: 1;
	/* height: 70px; */
}
@media (max-width: 600px) {
	.fixpanel.footer {
		flex-wrap: wrap;
	}
	.fixpanel.footer .fixpanel-part {
		margin: 15px auto;
		text-align: center;
	}
}
.fixpanel-part {
	display: flex;
	align-items: center;
}
.fixpanel__quote {
	font-size: 0.8rem;
	text-align: right;
	margin: 0 var(--index) 0 calc(var(--index) * 5);
	font-style: italic;
	max-width: 600px;
}
@media (max-width: 600px) {
	.fixpanel__quote {
		display: none;
	}
}
.fixpanel__quote blockquote {
	position: relative;
}
.fixpanel__quote blockquote:before {
	content: '“';
	display: block;
	position: absolute;
	top: -5px;
	left: 0;
	font-size: calc(var(--index) * 4);
	line-height: 1;
	opacity: 0.05;
}
.fixpanel__comment {
	font-size: 0.8rem;
	text-align: center;
	margin: 0 var(--index);
	font-style: italic;
	min-width: 200px;
	max-width: 600px;
}

.header-post {
	border-bottom: 1px solid #bbb;
	box-shadow: 0 3px 0 #0000001f;
	position: fixed;
	top: 0;
	left: 0;
}
.footer {
	border-top: 1px solid #bbb;
	box-shadow: 0 -3px 0 #0000001f;
}
.tohome {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
}
.tohome:hover {
	color: var(--accent)
}
.tohome svg {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	transition: var(--transition);
}
.tohome:hover svg {
	transform: scaleX(-1);
	transition: var(--transition);
}

.post-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: var(--index);
	padding-top: 6rem;
}
.post-title {
	font-family: arsenal_f, sans-serif;
	max-width: 1200px;
	/* font-size: var(--index); */
	line-height: 1.2;
	text-align: center;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
	margin-bottom: 3rem;
}
.post-title h1::first-letter {
	font-size: 150%;
	margin-right: 0.1rem;
}
/* .post-title h1::first-letter::selection {
	background: var(--accent);
  color: #fff;
} */
.post-description {
	font-size: 140%;
}
.post-content {
	max-width: 900px;
}


/* @media (max-width: 600px) {
	.post-title {
		font-size: 1.1rem;
	}
} */