<blockquote>
  <b class="bq__text"></b><br>
  <span class="bq__author"></span>
</blockquote>
<script>
  const bqs = [
  {
      text: 'Если наказывать ребенка за дурное и награждать за доброе, то он будет делать добро ради выгоды',
      author: 'Иммануил Кант'
    },
    {
      text: 'Cogito ergo sum (Я мыслю, следовательно, существую)',
      author: 'Рене Декарт'
    },
    {
      text: 'Человеку, исследующему истину, необходимо хоть один раз в жизни усомниться во всех вещах',
      author: 'Рене Декарт'
    },
    {
      text: 'Говори в соответствии с уровнем восприятия простого народа',
      author: 'Бенедикт (Барух) Спиноза'
    },
    {
      text: 'Как мы чувствуем, так оно и есть на самом деле',
      author: 'Протагор'
    },
    {
      text: 'Здоровый нищий счастливее больного короля',
      author: 'А. Шопенгауэр'
    },
    {
      text: 'Сознание не формирует познаваемый объект, оно лишь фиксирует его, будучи актом внимания',
      author: 'Альбер Камю'
    },
    {
      text: 'Смысл слов зависит только от контекста',
      author: 'Людвиг Витгенштейн'
    },
    {
      text: 'Знания могут быть лишь у того, у кого есть вопросы',
      author: 'Ханс Георг Гадамер'
    },
    {
      text: 'Человек есть сущее, вопрошающее о смысле своего бытия',
      author: 'Мартин Хайдеггер'
    },
    {
      text: 'Свобода выбора господина не отменяет существования господ и рабов',
      author: 'Герберт Маркузе'
    },
  ],
    bq = bqs[Math.floor(Math.random() * bqs.length)]
  document.querySelector('.bq__text').innerText = bq.text
  document.querySelector('.bq__author').innerText = bq.author
</script>