<blockquote>
  <b class="bq__text"></b><br>
  <span class="bq__author"></span>
</blockquote>
<script>
  const bqs = [
    {
      text: 'Cogito ergo sum (Я мыслю, следовательно, существую)',
      author: 'Рене Декарт'
    },
    {
      text: 'Человеку, исследующему истину, необходимо хоть один раз в жизни усомниться во всех вещах',
      author: 'Рене Декарт'
    },
    {
      text: 'Говори в соответствии с уровнем восприятия простого народа',
      author: 'Бенедикт (Барух) Спиноза'
    },
  ],
    bq = bqs[Math.floor(Math.random() * bqs.length)]
  document.querySelector('.bq__text').innerText = bq.text
  document.querySelector('.bq__author').innerText = bq.author
</script>