<div class="social-icons">
  <a href="https://vk.com/max__dudin" target="_blank" class="vk">
    <img src="img/icon-vk.svg" alt="icon-vk">
  </a>
  <a href="https://t.me/maxdudin" target="_blank" class="tg">
    <img src="img/icon-tg.svg" alt="icon-tg">
  </a>
  <a href="https://instagram.com/maksim_anatolyevitch" target="_blank" class="insta">
    <img src="img/icon-insta.svg" alt="icon-insta">
  </a>
  <a href="mailto:mail@maksim-dudin.ru" target="_blank" class="email">
    <img src="img/icon-email.svg" alt="icon-email">
  </a>
</div>