<footer class="fixpanel footer">
  <div class="fixpanel-part fixpanel__left-part">
    <div class="fixpanel__tohome">
      {% include /tohome-button.html %}
    </div>
  </div>
  <div class="fixpanel-part fixpanel__center-part">
    <div class="fixpanel__comment">
      <span>{{ site.disclamer }}</span>
    </div>
  </div>
  <div class="fixpanel-part fixpanel__right-part">
    <div class="fixpanel__contacts">
      {% include /contacts.html %}
    </div>
  </div>
</footer>
<script src="js/sprogress.min.js"></script>
{% include /metrika.html %}
</body>

</html>