<footer class="fixpanel footer">
  <div class="fixpanel-part fixpanel__left-part">
    <div class="fixpanel__comment">
      <span>{{ site.disclamer }}</span>
    </div>
  </div>
  <div class="fixpanel-part fixpanel__center-part">
  </div>
  <div class="fixpanel-part fixpanel__right-part">
    <div class="fixpanel__contacts">
      {% include /contacts.html %}
    </div>
  </div>
</footer>
<script>
  document.addEventListener('mousemove', e => {
    document.body.style.cssText = `--move-x: ${e.clientX}px; --move-y: ${e.clientY}px;`
  })
</script>
{% include /metrika.html %}
</body>

</html>