<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<base href="{{ site.baseurl }}">

	{% if page.url == "/404.html" %}
	<title>Страница не найдена - {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}

	<meta name="description" content="{{ site.description | strip_html | truncatewords: 20  }}">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:image" content="{{ site.imagehome }}">
	<link rel="icon" href="{{ site.favicon }}">

	<link rel="canonical" href="{{ site.url }}" />
	<meta property="og:locale" content="ru_RU" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:description" content="{{ site.description }}" />
	<meta property="og:url" content="{{ site.url }}" />
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:image" content="{{ site.imagehome }}" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />

	<meta name="theme-color" content="{{ site.themecolor }}">

	<link rel="stylesheet" href="{{ site.url }}/css/main.css">
	<!-- <script src="js/app.js" defer></script> -->

</head>

<body>

	<header class="fixpanel header-post">
		<div class="fixpanel-part fixpanel__left-part">
			<div class="fixpanel__tohome">
				<img class="logo" src="img/logo.svg" alt="{{ site.title }}">
				<h1 class="fixpanel__site-title">{{ site.title }}</h1>
			</div>
		</div>
		<div class="fixpanel-part fixpanel__right-part">
			<div class="fixpanel__quote">
				{% include /blockquote.html %}
			</div>
			<div class="fixpanel__contacts">
				{% include /contacts.html %}
			</div>
		</div>
	</header>