<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	{% include /head-seo.html %}

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="yandex-verification" content="ae1f2d541f578df3" />
	<link rel="icon" href="{{ site.favicon | relative_url }}">
	<link rel="apple-touch-icon" href="{{ site.favicon | relative_url }}">

	<meta name="theme-color" content="{{ site.themecolor }}">

	<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">

</head>

<body>

	<header class="fixpanel header-post">
		<div class="fixpanel-part fixpanel__left-part">
			<div class="fixpanel__tohome">
				{% if page.url == "/404.html" %}
				{% include /tohome-button.html %}
				{% else %}
				<a href="{{ '/' | relative_url }}" class="tohome">
					<img class="logo" src="{{ site.logo | relative_url }}" alt="{{ site.title }}" width="32" height="32">
				</a>
				{% endif %}
			</div>
		</div>
		<div class="fixpanel-part fixpanel__right-part">
			<div class="fixpanel__quote">
				{% include /blockquote.html %}
			</div>
			<div class="fixpanel__contacts">
				{% include /contacts.html %}
			</div>
		</div>
	</header>
